@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.5
	font-family: $default-font
	overflow-x: hidden
	background-color: #fff
	input, textarea
		outline: none

.img-r
	display: block
	max-width: 100%
	height: auto

h1, h2, h3, h4, h5, h6
	font-weight: normal

a:hover
	text-decoration: none
	color: initial

a:focus
	outline: none

button
	border: none
	background-color: transparent
	outline: none
	&:focus
		outline: none

@import "media" // Always at the end
